[cola]
  spellcheck = false
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
[init]
  defaultBranch = master
[core]
  ignorecase = false
[advice]
  ignoredHook = false
[commit]
  gpgsign = true
[tag]
  forceSignAnnotated = true
[include]
  path = oss.gitconfig
[includeIf "gitdir:~/Desktop/Workdir/"]
  path = commercial.gitconfig
