[user]
  name = Davlatjon Shavkatov
  email = git@dalisoft.uz
  signingKey = E6218B01DB37B6CB1AF81CD256EBDCA6BB2E5B3D
[commit]
  gpgsign = true
[tag]
  forceSignAnnotated = true
[alias]
  commit = commit -S
[cola]
  spellcheck = true
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
[init]
  defaultBranch = master
[core]
  ignorecase = false
[advice]
  ignoredHook = false
