[user]
	name = dalisoft
	email = dalisoft@mail.ru
[cola]
	spellcheck = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = master
[core]
	ignorecase = false
