---
# NPM Modules
- name: Installing npm
  npm:
    global: yes
    path: "~/.npm-global"
    name: npm
    state: latest
  register: install_npm_package
  until: install_npm_package is successful

- name: List installed npm modules
  command: npm list -g --depth=0
  register: npm_modules_installed
  changed_when: false
  check_mode: false
  tags:
    - list-npm-version

- name: Installing npm modules
  npm:
    global: yes
    path: "~/.npm-global"
    name: "{{ item }}"
    state: present
  loop: "{{ npm_modules }}"
  register: install_npm_packages
  until: install_npm_packages is successful
  when:
    - npm_modules is defined
    - item not in npm_modules_installed.stdout
  tags:
    - install-npm-modules

# PIP Modules
- name: Installing pip modules
  pip:
    name: "{{ item }}"
    state: present
    executable: pip3
  loop: "{{ pip_modules }}"
  register: install_pip_module
  until: install_pip_module is successful
  when: pip_modules is defined
  tags:
    - install-pip-modules
