[submodule "dotfiles/.nano/nanorc"]
	path = dotfiles/.nano/nanorc
	url = https://github.com/scopatz/nanorc.git
	branch = master
[submodule "hosts"]
	path = hosts
	url = git@github.com:dalisoft/hosts.git
	branch = master
[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:dalisoft/dotfiles.git
	branch = master
