[submodule "hosts"]
	path = hosts
	url = git@github.com:dalisoft/hosts.git
	branch = master
[submodule "nanorc"]
        path = dotfiles/.nano/nanorc
        url = https://github.com/scopatz/nanorc.git
        branch = master
