.DS_Store

# Ansible .gitignore
ansible/tmp

# DotFiles .gitignore
dotfiles/.npmrc
dotfiles/.ansible/tmp
dotfiles/.ansible/roles

# DotFiles VIM
dotfiles/.vim/plugged

# Hosts .gitignore
hosts/hosts
hosts/hosts.orig
hosts/hosts-tmp
hosts/hosts.tmp
hosts/ad_away_hosts.txt

# IDEA Files
.idea

# Security file
askpass.sh
