{
  "tabWidth": 2,
  "singleQuote": false,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "arrowParens": "always",
  "useTabs": false,
  "bracketSameLine": true,
  "singleAttributePerLine": false
}
