---
# APT (Debian/Ubuntu) packages
apt_keys:
  - https://deb.nodesource.com/gpgkey/nodesource.gpg.key
  - https://dl.yarnpkg.com/debian/pubkey.gpg
  - https://download.docker.com/linux/ubuntu/gpg
  - "https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/testing/xUbuntu_{{ ansible_lsb.release }}/Release.key"

apt_repos:
  - ppa:git-core/ppa
  - ppa:fish-shell/release-3
  - "deb https://deb.nodesource.com/node_15.x {{ ansible_distribution_release|lower }} main"
  - deb https://dl.yarnpkg.com/debian/ stable main
  - "deb [arch=amd64] https://download.docker.com/linux/{{ ansible_lsb.id|lower }} {{ ansible_distribution_release|lower }} stable"
  - "deb https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/testing/xUbuntu_{{ ansible_lsb.release }}"

apt_items: # Security
  - iptables-persistent
  - netfilter-persistent
  # Tools
  # - fnm
  # - wrk
  # - exa
  # Fonts
  - fonts-firacode
  # Programming Languages
  - nodejs
  - python3-pip
  - rustc
  - ruby-full
  # Package managers
  - cargo
  - golang-go
  # Docker
  - docker-ce
  - docker-ce-cli
  - containerd.io
  - docker-compose

apt_force_items:
  - bat
  - ripgrep

# Pacman/Manjaro Packages
pacman_packages:
  # Necessary tools
  - starship
  - bat
  - exa
  - ripgrep
  - git-delta
  - fnm-bin
  - wrk
  # Git / Connection
  - openssh-hpn
  - libretls
  - gnupg-git
  # Programming languages
  - node
  - python
  - rust
  - ruby
  - go
  - deno
  # Docker
  - docker
  - docker-compose
