[defaults]
inventory = hosts.ini
interpreter_python = /usr/local/bin/python3
interpreter_python_fallback = /usr/bin/python
# remote_user = root
# private_key_file = ~/.ssh/firstvds-ai-app
# remote_port = 22
